<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Producto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<th:block layout:fragment="titulo">
    Título <small>subtítulo</small>
</th:block>
<div layout:fragment="content">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>
                <span class="caption-subject bold uppercase" th:text="${titulo}">Producto</span>
            </div>
            <div class="actions">
                <a href="/product/add" class="btn btn-circle btn-default">
                    <i class="fa fa-plus"></i>
                        <span class="hidden-480">
                        Alta de producto </span>
                </a>
                <a class="btn btn-circle btn-default" data-target="#ajax" data-toggle="modal" th:href="@{/product/{id}/audit(id=${product.id})}" th:if="${product.id}">
                    <i class="fa fa-search"></i>
                    <span class="hidden-480"> Auditoría </span>
                </a>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">
            <div class="tab-pane" id="tab_1_3">
                <div class="row profile-account">
                    <div class="col-md-3">
                        <ul class="ver-inline-menu tabbable margin-bottom-10">
                            <li class="active">
                                <a data-toggle="tab" href="#tab_1-1">
                                    <i class="fa fa-cog"></i>
                                        <span>
                                            Atributos
                                        </span>
                                </a>
                                    <span class="after">
                                    </span>
                            </li>
                            <!-- Pestaña change avatar -->
                            <li>
                                <a data-toggle="tab" href="#tab_2-2">
                                <i class="fa fa-picture-o"></i> Imagen / Fotografía </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab_3-3">
                                    <i class="fa fa-edit"></i>
                                        <span>
                                        Notas
                                        </span>
                                </a>
                            </li>
                            <!-- Pestaña delete -->
                            <li sec:authorize="hasRole('ROLE_ADMIN_PLANEACION')">
                                <a data-toggle="tab" href="#tab_4-4" th:if="${showEliminarTab}">
                                    <i class="fa fa-times-circle"></i>
                                        <span>
                                        Eliminar
                                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <form role="form" id="form_profile" name="userUpdate" th:action="${action}" th:object="${product}" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="id" th:field="*{id}"/>
                            <div class="row">
                                <div class="tab-content">
                                <div id="tab_1-1" class="tab-pane active">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Código</label>
                                            <input type="text" class="form-control" th:field="*{code}"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Nombre</label>
                                            <input type="text" class="form-control" th:field="*{name}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Piezas</label>

                                            <div id="items">
                                                <th:block th:each="pieza, stat : *{piezas}">
                                                    <div class="input-group">
                                                        <!-- Botón izquierdo -->
                                                        <span class="input-group-btn">
                                                            <a class="btn btn-default" title="Ver pieza" th:href="@{/pieza/{id}(id=${pieza.id})}" data-target="#ajax" data-toggle="modal">
                                                                <i class="fa fa-eye" ></i> </a>
                                                        </span>
                                                        <!-- Inputs -->
                                                        <input type="text" class="form-control" th:value="${pieza.descripcion}" readonly="readonly"/>
                                                        <input type="hidden" th:field="*{piezas[__${stat.index}__]}"/><!--name="pieza_id[]" th:value="${pieza.id}"/>-->
                                                        <!-- Botón derecho -->
                                                        <span class="input-group-btn">
                                                            <button class="delete btn btn-danger" type="button" title="Remover pieza">
                                                                <i class="fa fa-remove fa-fw" ></i> </button>
                                                        </span>
                                                    </div>
                                                </th:block>
                                            </div>
                                            <!--
                                            <div id="remote">
                                                <input id="piezas_autocomplete" class="form-control" type="text" placeholder="Descripción..."/>
                                            </div>-->
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Agregar pieza</label>
                                            <div class="input-group select2-bootstrap-append">
                                                <select id="selected_pieza" class="form-control select2-allow-clear">
                                                </select>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary btn-sm" type="button" id="add" title="Agregar pieza seleccionada">
                                                        <i class="fa fa-plus fa-fw" ></i> </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Pestaña change image -->
                                <div id="tab_2-2" class="tab-pane">
                                    <div class="form-group">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                <img th:src="*{image} == null ? '/img/noimage.png' : '/product/'+*{id}+'/image'" alt=""/>
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                                            </div>
                                            <div>
                                                    <span class="btn default btn-file">
                                                    <span class="fileinput-new">
                                                    Seleccionar imagen </span>
                                                    <span class="fileinput-exists">
                                                    Cambiar </span>
                                                    <input type="file" name="product_image"/>
                                                    </span>
                                                <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput">
                                                    Remover </a>
                                            </div>
                                        </div>
                                        <!--
                                        <div class="clearfix margin-top-10">
                                                <span class="label label-danger">
                                                NOTE! </span>
                                                <span>
                                                Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                                        </div>-->
                                    </div>

                                </div>
                                <!-- Pestaña change notes -->
                                <div id="tab_3-3" class="tab-pane">
                                    <div class="form-group">
                                        <label class="control-label">Password actual</label>
                                        <textarea id="notas" th:field="*{notes}" class="form-control" rows="6"></textarea>
                                    </div>
                                </div>
                                <!-- Pestaña delete -->
                                <div id="tab_4-4" class="tab-pane" th:if="${showEliminarTab}">
                                    <div class="alert alert-block alert-danger fade in">
                                        <h4 class="alert-heading">¡ Advertencia !</h4>
                                        <p> <span class="label label-danger">Advertencia</span> al eliminar este producto no podrá ser recuperado.</p>
                                        <p>Las piezas asociadas a este producto <span class="label label-danger">NO</span> serán eliminadas ni modificadas.</p>
                                        <p></p>
                                        <br/>
                                        <p>
                                            <a class="btn red" th:href="@{/product/{id}/delete(id=*{id})}" onclick="return confirm('¿Está seguro de eliminar este producto?');"> Eliminar producto </a>
                                            <a class="btn blue" href="javascript:history.back();"> Cancelar </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                    <div class="margin-top-10">
                                        <button class="btn green" type="submit">
                                            Guardar cambios </button>
                                        <a href="javascript:history.back();" class="btn default">
                                            Cancelar </a>
                                    </div>
                            </div>
                        </form>
                    </div>
                    <!--end col-md-9-->
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="ajax" role="basic" aria-hidden="true">
        <div class="page-loading page-loading-boxed">
            <img src="/img/loading-spinner-grey.gif" alt="" class="loading"/>
                <span>
                &nbsp;&nbsp;Cargando... </span>
        </div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- End Modal -->
</div>
<!-- Page level scripts -->
<th:block layout:fragment="scripts">
    <!-- Page level CSS -->
    <link rel="stylesheet" type="text/css" href="/css/timeline.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fluid-iframe.css"/> <!-- Pieza modal view -->
    <link rel="stylesheet" type="text/css" href="/css/documento.css"/> <!-- Pieza modal view -->
    <link rel="stylesheet" type="text/css" href="/css/timeline.css"/> <!-- Pieza modal view -->
    <!-- END Page level CSS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link   href="/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <script src="/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <link   href="/plugins/select2/select2.css" rel="stylesheet" type="text/css"/>
    <script src="/plugins/select2/select2.min.js" type="text/javascript"></script>
    <link   href="/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css"/>
    <script src="/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script th:src="'/plugins/jquery-validation/js/localization/messages_'+${#locale.language}+'.min.js'" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script th:inline="javascript">
        jQuery(document).ready(function() {

            //Btn agregar pieza
            $("#add").click(function (e) {
                 //Append a new row of code to the "#items" div
                 var sp = $("#selected_pieza").select2('data')[0];
                 var text = sp.text;
                 var val = sp.id;
                 $("#items").append(
                    '<div class="input-group">'+
                        '<input type="text" class="form-control" value="'+text+'" readonly="readonly"/>'+
                        '<input type="hidden" name="pieza_id[]" value = "'+val+'"/>'+
                        '<span class="input-group-btn">'+
                            '<button class="delete btn btn-danger" type="button" title="Remover pieza">'+
                                '<i class="fa fa-remove fa-fw"></i> </button>'+
                        '</span>'+
                    '</div>');
                 $("#selected_pieza").select2("val", "");
            });

            //Btn eliminar pieza
            $("body").on("click", ".delete", function (e) {
                $(this).parent("span").parent("div").remove();
            });

            //Typeahead
            /*
            var piezas = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.obj.whitespace('descripcion'),
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              prefetch: '/piezas/find?length=30',
              remote: {
                url: [[@{/piezas/find(descripcion_filter='_QUERY_',length=30)}]],
                wildcard: '_QUERY_'
              }
            });

            $('#piezas_autocomplete').typeahead({
              hint: true,
              highlight: true,
              minLength: 1
            }, {
              name: 'piezas',
              display: 'descripcion',
              source: piezas
            });*/

            //SELECT 2

            $("#selected_pieza").select2({
                ajax: {
                    url: "/piezas/find",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        var query = {
                            codigo_filter: params.term,
                            descripcion_filter: params.term, // search term
                            length: 10,
                            page: params.page
                        }
                      return query;
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.universalCode + ' - ' + item.descripcion,
                                    id: item.id
                                }
                            })
                        };
                    }
                }
            });

        });
    </script>
</th:block>
<!-- End page level scripts -->
</body>
</html>
