

/* GUI estilo plano o design sheet */
@media screen and (min-width: 1024px) {
    .plano {
        border: 1px solid #ddd;
        padding: 0px !important;
    }

    .plano .columna-datos {
        border-left: 1px solid #ddd; padding-left: 0px;
    }

    .plano .bloque-izq {
        border-right: 1px dotted #ddd;
        border-bottom: 1px dotted #ddd;
    }
    .plano .bloque-der {
        border-bottom: 1px dotted #ddd;
    }
    .plano .bloque-completo {
        border-bottom: 1px dotted #ddd;
    }
}
@media screen and (max-width: 1023px) {
    .plano {
        border: 1px solid #ddd;
        padding: 0px !important;
    }

    .plano .columna-datos {}

    .plano .bloque-izq {
        border-bottom: 1px dotted #ddd;
    }
    .plano .bloque-der {
        border-bottom: 1px dotted #ddd;
    }
    .plano .bloque-completo {
        border-bottom: 1px dotted #ddd;
    }
}

/* Celdas del plano */
.celda {
    padding: 5px;
    text-align: center;
}

.celda .titulo {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #aaa;
    font-size: 9px;
}

.celda h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.celda .cuerpo {
    margin-top: 10px;
}

/* Título plano */
.titulo-plano {
    text-align: center;
    padding: 1px;
}
.titulo-plano h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Bloques del plano */
.titulo-bloque {
    text-align: left;
    left
    padding: 1px;
    border-bottom: 2px solid #ddd;
    cursor: pointer;
    cursor: hand;

}
.titulo-bloque h4 {
    margin-left: 0px;
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: normal;
}
.titulo-bloque .icono {
    position:absolute;
    top: 11px;
    left: 10px;
    display: inline-block;
    font-size: 18px;
}
.titulo-bloque:after {
    /*content: "\f147";*/ /* Icono del bloque desplegado */
    content: ""; /* Sin icono */
    font-family: FontAwesome;
    right:10px;
    position:absolute;
    bottom: 0px;
    font-size: 12px;
 }
 .titulo-bloque.collapsed {
    border-bottom: 2px solid #ddd;
 }

.titulo-bloque.collapsed:after { /* Icono del bloque colapsado */
    content: "\f196";
 }

.titulo-bloque.outline-azul     { box-shadow: 0 3px 0 0 blue;   }
.titulo-bloque.outline-rojo     { box-shadow: 0 3px 0 0 red;    }
.titulo-bloque.outline-amarillo { box-shadow: 0 3px 0 0 yellow; }
.titulo-bloque.outline-verde    { box-shadow: 0 3px 0 0 green;  }
.titulo-bloque.outline-naranja  { box-shadow: 0 3px 0 0 orange;   }
.titulo-bloque.outline-morado   { box-shadow: 0 3px 0 0 purple; }

/* Archivos en el bloque */
.bloque-archivo {
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    position: relative;
}
.bloque-archivo div a, .bloque-archivo div div {
    padding-left: 32px;
}
.bloque-archivo div div { /* Archivo sin link, link prohibido */
    cursor: default;
    background-color: white;
    text-align: left;
    min-height: 21px;

}
.bloque-archivo a, .bloque-archivo button {
    border: 0px;
}
.bloque-archivo .ocultable {
    display: none;
}
.bloque-archivo:hover .ocultable {
    display: block;
}

.bloque-archivo .file-actions {
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
}
.bloque-archivo .icono {
    position: absolute;
    left: 14px;
    top: 2px;
}
.boton-dropdown {
    position: absolute;
    right: 15px;
}
/* Bloque-Placeholder */
.col-md-12.bloque-placeholder {
    padding: 0;
    position: relative;
}
.bloque-placeholder .placeholder {
    margin: 5px;
    height: 25px;
    position: relative;
}
.bloque-placeholder .placeholder.rojo {
    border: 2px dashed red;
    background-color: #FFD5D5;
}
.bloque-placeholder .placeholder.verde {
    border: 2px dashed green ;
    background-color: #D6E9C6;
}
.bloque-placeholder .placeholder.morado {
    border: 2px dashed purple;
    background-color: rgb(231, 199, 245);
}
.bloque-placeholder .placeholder .drop-area {
    position: absolute; top:0; left: 0; right: 0; bottom: 0;
}
.bloque-placeholder div[id^='container-'] {
    min-height: 8px;
}
.placeholder .fijo {
    position: relative;
}
.placeholder .icono {
    position: absolute;
    left: 7px;
    top: 2px;
}

.placeholder div {
    text-align: center;
}

/* columns of same height styles */

@media screen and (min-width: 1024px) {
    .row-full-height {
      height: 100%;
    }
    .col-full-height {
      height: 100%;
      vertical-align: middle;
    }
    .row-same-height {
      display: table;
      width: 100%;
      /* fix overflow */
      table-layout: fixed;
    }
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}
