<!DOCTYPE htmlHelper>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"  layout:decorator="layout">
    <head>
        <title>Acceso denegado!</title>
    </head>
    <body>
    <th:block layout:fragment="titulo">
        Título <small>subtítulo</small>
    </th:block>
    <th:block layout:fragment="breadcrumb">
        <li>
            <a href="/">Inicio</a>
        </li>
    </th:block>
    <div class="row" layout:fragment="content">
        <div class="col-md-12 page-500">
            <div class=" number">
                 403
            </div>
            <div class=" details">
                <h3>Acceso denegado.</h3>
                <p>
                     No tienes permiso para estar aquí<br/>
                    El administrador del sistema otorga los permisos.<br/><br/>
                </p>
            </div>
            <img src="/img/error-405.png"/>
        </div>
    </div>
    <th:block layout:fragment="scripts">
        <!-- Page level styles -->
        <link href="/css/errors.css" rel="stylesheet" type="text/css"/>
        <!-- End of page level styles -->
    </th:block>
    </body>
</html>