<th:block th:fragment="auditoria_modal (titulo)">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title"><i class="icon-note"></i> <span th:text="${titulo}">Auditoría de documento interno</span> </h4>
</div>
<!-- Begin content -->
<!-- BEGIN FORM-->

<div class="modal-body" style="background-color: #f1f3fa;">
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="timeline">
                        <div class="timeline-item" th:each="cambio,iterationStatus  : ${revisiones}">
                            <div class="timeline-badge">
                                <div class="timeline-icon">
                                    <i class="icon-docs font-red-intense"></i>
                                </div>
                            </div>
                            <div class="timeline-body">
                                <div class="timeline-body-arrow">
                                </div>
                                <div class="timeline-body-head">
                                    <div class="timeline-body-head-caption">
                                        <a href="javascript:;" class="timeline-body-title font-blue-madison" th:text="${cambio.quien}">Juan Juanes</a>
                                        <span class="timeline-body-time font-grey-cascade" th:text="${cambio.cuando}">Replied at 7:45 PM</span>
                                    </div>
                                </div>
                                <div class="timeline-body-content">
                                    <span class="font-grey-cascade" th:text="${cambio.que}">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <!--/row-->
    </div>
    <!--/row-->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
</div>
</th:block>