<!DOCTYPE htmlHelper>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <th:block layout:fragment="titulo">
        Título <small>subtítulo</small>
    </th:block>
    <th:block layout:fragment="breadcrumb">
        <li>
            <a href="/usuarios">Dashboard</a>
        </li>
    </th:block>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 30px;" id="encabezado">
                <div th:utext="${encabezado}"></div>
                <a href="/calidad/encabezado" style="position: absolute; right: 15px; bottom: 15px; display: none;" data-target="#ajax" data-toggle="modal">
                    <i class="icon-note"></i> Editar encabezado
                </a>
            </div>
        </div>
        <!-- Begin button group layout -->
        <div class="btn-group btn-group-justified">
            <a class="btn btn-info bg-blue-chambray" href="/calidad/manual"><i class="fa fa-book"></i>&nbsp;Manual de calidad</a>
            <a class="btn btn-info bg-blue-ebonyclay" href="/calidad/mapeoProcesos"><i class="fa fa-gears"></i>&nbsp;Mapeo de procesos</a>
            <a class="btn btn-info bg-blue-chambray" href="/calidad/organigrama"><i class="fa fa-gears"></i>&nbsp;Organigrama</a>
			<a class="btn btn-info bg-blue-ebonyclay" href="/calidad"><i class="fa fa-list-alt"></i>&nbsp;Lista maestra</a>
            <a class="btn btn-info bg-blue-chambray" href="/calidad/auditoria_interna"><i class="fa fa-check-square-o"></i>&nbsp;Auditoría interna</a>
			<!--
            <a class="btn btn-info bg-blue-chambray"><i class="fa fa-search"></i>&nbsp;Auditorías</a>
            <a class="btn btn-info bg-blue-ebonyclay"><i class="fa fa-tachometer"></i>&nbsp;Indicadores</a>
			-->
        </div>
        <!-- End button group layout -->
        <!-- Begin content -->
        <div class="row">
            <div class="col-md-12" layout:fragment="calidad_content">
                 <!--Page content goes here-->
            </div>
        </div>
        <!-- End content -->

        <!-- Modal -->
        <div class="modal fade" id="ajax" role="basic" aria-hidden="true">
            <div class="page-loading page-loading-boxed">
                <img th:src="@{/img/loading-spinner-grey.gif}" src="/img/loading-spinner-grey.gif" alt="" class="loading"/>
                <span>
                &nbsp;&nbsp;Cargando... </span>
            </div>
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                </div>
            </div>
        </div>
        <!-- End Modal -->
    </div>

    <th:block layout:fragment="scripts">
        <!-- BEGIN EDITOR - SÓLO ADMINISTRADORES DE CALIDAD -->
        <th:block sec:authorize="hasAnyRole('ROLE_ADMIN_CALIDAD')">
            <!-- Begin calidad layout level styles and scripts -->
            <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-summernote/summernote.css"/>
            <!-- PLUGINS -->
            <script src="/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
            <!-- END PLUGINS -->
            <script>
                jQuery(document).ready(function() {

                    $(document).on('mouseenter', '#encabezado', function () {
                        $(this).find(":link").show();
                    }).on('mouseleave', '#encabezado', function () {
                        $(this).find(":link").hide();
                    });
                });
            </script>
            <!-- END calidad layout level styles and scripts -->
        </th:block>
        <!-- END EDITOR -->
        <!-- Begin page level styles and scripts -->
        <th:block layout:fragment="calidad_scripts">
        </th:block>
        <!-- End page level styles and scripts -->
    </th:block>


</body>
</html>