<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <th:block layout:fragment="titulo">
        Título <small>subtítulo</small>
    </th:block>
    <th:block layout:fragment="breadcrumb">
        <li>
            <a href="/usuarios">Dashboard</a>
        </li>
    </th:block>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 margin-bottom-10">
                <div class="dashboard-stat blue-madison">
                    <div class="visual">
                        <i class="fa icon-puzzle fa-icon-medium"></i>
                    </div>
                    <div class="details">
                        <div class="number"  th:text="${noPiezas}">
                             3,080
                        </div>
                        <div class="desc">
                             Piezas
                        </div>
                    </div>
                    <a class="more" href="/piezas">
                    Ver <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="dashboard-stat red-intense">
                    <div class="visual">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="details">
                        <div class="number" th:text="${noArchivos}">
                             1,127,390
                        </div>
                        <div class="desc">
                             Archivos
                        </div>
                    </div>
                    <a class="more" href="/piezas">
                    Ver <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="dashboard-stat green-haze">
                    <div class="visual">
                        <i class="fa fa-group fa-icon-medium"></i>
                    </div>
                    <div class="details">
                        <div class="number" th:text="${noUsuarios}">
                             8
                        </div>
                        <div class="desc">
                             Usuarios
                        </div>
                    </div>
                    <a class="more" href="/usuarios">
                    Ver <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-blue-steel hide"></i>
                            <span class="caption-subject font-blue-steel bold uppercase">Actividad reciente</span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                            <ul class="feeds">
                                <li th:each="rev : ${revisiones}">
                                    <!-- Link de la actividad -->
                                    <!--<a href="#">-->
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <th:block th:utext="${rev.getIconHtml()}">
                                                <div class="label label-sm label-success">
                                                    <i class="fa fa-bar-chart-o"></i>
                                                </div>
                                                </th:block>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc" th:text="${rev.getDescripcion()+' por '+rev.getUserFullName()}">
                                                    Usuario Agregado
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date" th:text="${rev.getElapsedTimeString()}">
                                             20 mins
                                        </div>
                                    </div>
                                    <!-- Termina link de la actividad -->
                                    <!--</a>-->
                                </li>
                            </ul>
                        </div>
                        <!-- Ver todos los registros
                        <div class="scroller-footer">
                            <div class="btn-arrow-link pull-right">
                                <a href="#">Ver todos los registros</a>
                                <i class="icon-arrow-right"></i>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="portlet box purple">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-puzzle"></i>Tipos de piezas
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!--<h4>Gráfica de pie coloreada, con leyendas semi-transparentes.</h4>-->
                        <div id="pie_chart" class="chart">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-blue-steel hide"></i>
                            <span class="caption-subject font-blue-steel bold uppercase">Docs. de calidad con revisión vencida</span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                            <ul class="feeds">
                                <li th:each="rev : ${calidadRevisionesVencidas}">
                                    <!-- Link de la actividad -->
                                    <a th:href="'/calidad/documento/'+${rev.getId()}">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-danger">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc" th:text="${rev.getTitulo()}">
                                                    Usuario Agregado
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date" th:text="${rev.getProximaRevisionString()}">
                                             20 mins
                                        </div>
                                    </div>
                                    </a>
                                    <!-- Termina link de la actividad -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-blue-steel hide"></i>
                            <span class="caption-subject font-blue-steel bold uppercase">Docs. de calidad próximos a revisión</span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                            <ul class="feeds">
                                <li th:each="rev : ${calidadProximasRevisiones}">
                                    <!-- Link de la actividad -->
                                    <a th:href="'/calidad/documento/'+${rev.getId()}">
                                    <div class="col1">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-warning">
                                                    <i class="fa fa-clock-o"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc" th:text="${rev.getTitulo()}">
                                                    Usuario Agregado
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2">
                                        <div class="date" th:text="${rev.getProximaRevisionString()}">
                                             20 mins
                                        </div>
                                    </div>
                                    </a>
                                    <!-- Termina link de la actividad -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>

    </div>
    <!-- Page level scripts -->
    <th:block layout:fragment="scripts">
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/plugins/flot/jquery.flot.min.js"></script>
        <script src="/plugins/flot/jquery.flot.resize.min.js"></script>
        <script src="/plugins/flot/jquery.flot.pie.min.js"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <script src="scripts/dashboard.js"></script>
        <script th:utext="'jQuery(document).ready(function() { var data = ' + ${graphData} + '; Dashboard.init(data); });'" ></script>
        <script>
            jQuery(document).ready(function() {

            });
        </script>
    </th:block>
</body>
</html>