<!DOCTYPE htmlHelper>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Archivo Tamto</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="/css/opensans.css" rel="stylesheet" type="text/css"/>
<link href="plugins/font-awesome/css/font-awesome.min.css" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
<link href="plugins/simple-line-icons/simple-line-icons.min.css" th:href="@{/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"/>
<link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" type="text/css"/>
<link href="plugins/uniform/css/uniform.default.css" rel="stylesheet" th:href="@{/plugins/uniform/css/uniform.default.css}" type="text/css"/>
<link href="plugins/bootstrap-switch/css/bootstrap-switch.min.css" th:href="@{/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css"/>
<link href="plugins/jquery-ui/jquery-ui-1.10.3.custom.min.css" th:href="@{/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.css}" rel="stylesheet" type="text/css"/>

<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="/plugins/select2/select2.css" rel="stylesheet" type="text/css"/>
<link href="css/components.css" th:href="@{/css/components.css}" id="style_components" rel="stylesheet" type="text/css"/>
<link href="css/plugins.css" th:href="@{/css/plugins.css}" rel="stylesheet" type="text/css"/>
<link href="css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" type="text/css"/>
<link id="style_color" th:href="@{/css/themes/grey.css}" href="css/themes/grey.css" rel="stylesheet" type="text/css"/>
<link href="css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico" th:href="@{/favicon.ico}"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-container-bg-solid page-sidebar-closed-hide-logo">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
            <a href="/"><img src="/img/logo_neg_80.png" alt="logo" class="logo-default"/>
				<!--<font color="white"><h2 class="logo-default">TAMTO</h2></font>-->
			</a>
			<div class="menu-toggler sidebar-toggler">
				<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN PAGE ACTIONS -->
		<!-- DOC: Remove "hide" class to enable the page header actions -->
		<div class="page-actions">
			<div class="btn-group">
				<button type="button" class="btn btn-circle green-haze dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-plus"></i>&nbsp;<span class="hidden-sm hidden-xs">Nuevo&nbsp;</span>&nbsp;<i class="fa fa-angle-down"></i>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li sec:authorize="hasRole('ROLE_ADMIN')">
						<a href="/usuarioNuevo">
                        <i class="icon-user"></i> Nuevo usuario </a>
					</li>
                    <li sec:authorize="hasPermission('listamaestra', 'AGREGAR')">
                        <a href="/calidad/documento/nuevo">
                        <i class="icon-doc"></i> Agregar documento de calidad </a>
                    </li>
					<li>
						<a href="/piezaNueva">
						<i class="icon-puzzle"></i> Nueva pieza </a>
					</li>
					<li>
					<a href="/product/add">
						<i class="icon-grid"></i> Nuevo producto </a>
					</li>
				</ul>
			</div>
		</div>
		<!-- END PAGE ACTIONS -->
		<!-- BEGIN PAGE TOP -->
		<div class="page-top">
			<!-- BEGIN HEADER SEARCH BOX -->
			<!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
            <!--
			<form class="search-form search-form-expanded" action="extra_search.html" method="GET">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Buscar..." name="query"/>
					<span class="input-group-btn">
					<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
					</span>
				</div>
			</form> -->
			<!-- END HEADER SEARCH BOX -->
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					<!-- BEGIN NOTIFICATION DROPDOWN -->
					<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <!--
					<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<i class="icon-bell"></i>
						<span class="badge badge-default">
						7 </span>
						</a>
						<ul class="dropdown-menu">
							<li class="external">
								<h3><span class="bold">12 </span> notificaciones</h3>
								<a href="extra_profile.html">Ver todo</a>
							</li>
							<li>
								<ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
									<li>
										<a href="javascript:;">
										<span class="time">justo ahora</span>
										<span class="details">
										<span class="label label-sm label-icon label-success">
										<i class="fa fa-plus"></i>
										</span>
										Nuevo usuario registrado. </span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
										<span class="time">3 mins</span>
										<span class="details">
										<span class="label label-sm label-icon label-danger">
										<i class="fa fa-bolt"></i>
										</span>
										¡Usuario eliminado!. </span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
										<span class="time">14 hrs</span>
										<span class="details">
										<span class="label label-sm label-icon label-info">
										<i class="fa fa-bullhorn"></i>
										</span>
										Nueva pieza agregada. </span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
										<span class="time">2 days</span>
										<span class="details">
										<span class="label label-sm label-icon label-danger">
										<i class="fa fa-bolt"></i>
										</span>
										¡¡Pieza eliminada!!. </span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
										<span class="time">4 days</span>
										<span class="details">
										<span class="label label-sm label-icon label-warning">
										<i class="fa fa-bell-o"></i>
										</span>
										Archivo actualizado</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					-->
					<!-- END NOTIFICATION DROPDOWN -->
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
					<li class="dropdown dropdown-extended quick-sidebar-toggler" th:if="${#authentication}==null">
						<form id="logoutForm" target="_self" action="/logout"></form>
						<a href="javascript:;" onclick="logoutForm.submit();" class="dropdown-toggle">
						<i class="icon-logout"></i></a>
					</li>
					<li class="dropdown dropdown-user" th:if="${#authentication}!=null">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<!-- Imagen de perfil: <img alt="" class="img-circle" src="/img/avatar3_small.jpg"/> -->
						<span class="username username-hide-on-mobile" th:inline="text">
                            <div th:text="${#authentication.getPrincipal() instanceof T(hello.MediUser)} ? ${#authentication.getPrincipal().getDisplayName()} : ''">
                                Hermes
                            </div>
                        </span>
						<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a th:href="'/user'">
                                <i class="icon-user"></i><span> Mi perfil </span></a>
                            </li>
							<!--<li>
								<a href="extra_profile.html">
								<i class="icon-user"></i> Mi Perfil </a>
							</li>
							<li class="divider">
							</li>-->
							<!--<li>
								<a href="extra_lock.html">
								<i class="icon-lock"></i> Bloquear pantalla </a>
							</li>-->
							<li>
                                <form id="logoutForm" target="_self" action="/logout"></form>
								<a href="javascript:;" onclick="logoutForm.submit();">
								<i class="icon-key"></i><span> Cerrar sesión </span></a>
							</li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
			</div>
			<!-- END TOP NAVIGATION MENU -->
		</div>
		<!-- END PAGE TOP -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<div class="">
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar-wrapper">
			<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
			<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
			<div class="page-sidebar navbar-collapse collapse">
				<!-- BEGIN SIDEBAR MENU -->
				<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
				<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
				<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
				<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
				<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
				<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
				<ul class="page-sidebar-menu page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
					<li class="start " th:class="${selectedMenu.contains('dashboard') ? 'active open' : ''}">
						<a href="/">
						    <i class="icon-home"></i>
						    <span class="title">Dashboard</span>
                            <th:block th:if="${selectedMenu.contains('dashboard')}">
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </th:block>
						</a>
					</li>
					<li th:class="${selectedMenu.contains('product') ? 'active open' : ''}">
						<a href="/products">
							<i class="icon-grid"></i>
							<span class="title">Productos</span>
							<th:block th:if="${selectedMenu.contains('product')}">
								<span class="selected"></span>
								<span class="arrow open"></span>
							</th:block>
						</a>
					</li>
					<li th:class="${selectedMenu.contains('pieza') ? 'active open' : ''}">
                        <a href="/piezas">
                            <i class="icon-puzzle"></i>
                            <span class="title">Piezas</span>
                            <th:block th:if="${selectedMenu.contains('pieza')}">
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </th:block>
                        </a>
                    </li>
                    <li th:class="${selectedMenu.contains('usuario') ? 'active open' : ''}" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/usuarios">
                            <i class="icon-user"></i>
                            <span class="title">Usuarios</span>
                            <th:block th:if="${selectedMenu.contains('usuario')}">
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </th:block>
                        </a>
                    </li>
                    <li class="last " th:class="${selectedMenu.contains('calidad') ? 'active open' : ''}">
                        <a href="/calidad">
                        <i class="icon-check"></i>
                        <span class="title">Calidad</span>
                        <th:block th:if="${selectedMenu.contains('calidad')}">
                            <span class="selected"></span>
                            <span class="arrow open"></span>
                        </th:block>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/calidad/manual">Manual de calidad</a>
                            </li>
                            <li>
                                <a href="/calidad/mapeoProcesos">Mapeo de procesos</a>
                            </li>
                            <li>
                                <a href="/calidad/organigrama">Organigrama</a>
                            </li>
							<!--
                            <li>
                                <a href="/">Auditorías</a>
                            </li>
                            <li>
                                <a href="/">Indicadores</a>
                            </li>
							-->
                        </ul>
                    </li>
                    <!--<li sec:authorize-url="/">
                        <a href="index.html">
                            <i class="icon-settings"></i>
                            <span class="title">Sistema</span>
                        </a>
                    </li>-->
                    <li class="last " th:class="${selectedMenu.contains('manual') ? 'active open' : ''}">
                        <a href="/manual">
                        <i class="icon-support"></i>
                        <span class="title">Ayuda</span>
                        <th:block th:if="${selectedMenu.contains('manual')}">
                            <span class="selected"></span>
                            <span class="arrow open"></span>
                        </th:block>
                        </a>
                    </li>
                </ul>
				<!-- END SIDEBAR MENU -->
			</div>
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
								<h4 class="modal-title">Modal title</h4>
							</div>
							<div class="modal-body">
								 Widget settings form goes here
							</div>
							<div class="modal-footer">
								<button type="button" class="btn blue">Save changes</button>
								<button type="button" class="btn default" data-dismiss="modal">Close</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
				<!-- BEGIN PAGE HEADER-->
				<!-- Título desactivado -->
                <!--<h3 class="page-title">
                    <th:block layout:fragment="titulo"></th:block>
				</h3>-->
                <!--
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="/">Inicio</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<th:block layout:fragment="breadcrumb"></th:block>
					</ul>
				</div>      -->
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12" layout:fragment="content">
						 Page content goes here
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
		</div>
		<!-- END CONTENT -->
		<!-- BEGIN QUICK SIDEBAR -->
		<!--Cooming Soon...-->
		<!-- END QUICK SIDEBAR -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="page-footer">
		<div class="page-footer-inner">
			 2015-2016 &copy; Gestión Interna by Bromio &amp; Phesus.
		</div>
		<div class="scroll-to-top">
			<i class="icon-arrow-up"></i>
		</div>
	</div>
	<!-- END FOOTER -->
</div>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="plugins/respond.min.js" th:href="@{/plugins/respond.min.js}"></script>
<script src="plugins/excanvas.min.js" th:href="@{/plugins/excanvas.min.js}"></script>
<![endif]-->
<script src="plugins/jquery.min.js" th:src="@{/plugins/jquery.min.js}" type="text/javascript"></script>
<script src="plugins/jquery-migrate.min.js" th:src="@{/plugins/jquery-migrate.min.js}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" th:src="@{/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js}" type="text/javascript"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script src="plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" th:src="@{/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}" type="text/javascript"></script>
<script src="plugins/jquery-slimscroll/jquery.slimscroll.min.js" th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
<script src="plugins/jquery.blockui.min.js" th:src="@{/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
<script src="plugins/jquery.cokie.min.js" th:src="@{/plugins/jquery.cokie.min.js}" type="text/javascript"></script>
<script src="plugins/uniform/jquery.uniform.min.js" th:src="@{/plugins/uniform/jquery.uniform.min.js}" type="text/javascript"></script>
<script src="plugins/bootstrap-switch/js/bootstrap-switch.min.js" th:src="@{/plugins/bootstrap-switch/js/bootstrap-switch.min.js}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<script src="scripts/metronic.js" th:src="@{/scripts/metronic.js}" type="text/javascript"></script>
<script src="scripts/layout.js" th:src="@{/scripts/layout.js}" type="text/javascript"></script>
<script src="scripts/demo.js" th:src="@{/scripts/demo.js}" type="text/javascript"></script>
<script>
      jQuery(document).ready(function() {
         Metronic.init(); // init metronic core components
         Layout.init(); // init current layout
      });
   </script>
   <th:block layout:fragment="scripts"></th:block>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
