<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Edición de pieza</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <th:block layout:fragment="titulo">
        Título <small>subtítulo</small>
    </th:block>
    <th:block layout:fragment="breadcrumb">
        <li>
            <a href="/piezas">Catálogo de piezas</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a th:href="'/piezaNueva'" th:text="'Nueva pieza'"></a>
        </li>
    </th:block>
    <div layout:fragment="content">
        <!-- Begin content -->
        <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">Añadir pieza</span>
                <span class="caption-helper"> al catálogo</span>
            </div>
            <!-- Acciones -->
            <!--
            <div class="actions">
                <a href="#" class="btn btn-default btn-circle">
                <i class="fa fa-plus"></i>
                <span class="hidden-480">
                Nueva pieza</span>
                </a>
            </div>
            -->
            <!-- Fin acciones -->
        </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form id="formi" th:action="@{/piezaNueva}" th:object="${pieza}" class="horizontal-form"  method="POST" enctype="multipart/form-data">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Descripción</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" id="descripcion" th:field="*{descripcion}" class="form-control" placeholder="Nombre o descripción de la pieza"/>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Descripción SAP</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" id="nombreSap" th:field="*{nombreSap}" class="form-control" placeholder="Equivalente en SAP"/>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Código universal</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" placeholder="" id="universalCode" th:field="*{universalCode}"/>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Tipo</label>
                                    <select id="tipo" class="form-control" th:field="*{tipoPieza}">
                                        <option value="PE" th:selected="${pieza.getTipoPieza().toString().equals('PE')}">PE</option>
                                        <option value="PC" th:selected="${pieza.getTipoPieza().toString().equals('PC')}">PC</option>
                                        <option value="PL" th:selected="${pieza.getTipoPieza().toString().equals('PL')}">PL</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">W.O. Date</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control date-picker" placeholder="dd/mm/aaaa" id="workOrderDate" th:field="*{workOrderDate}"/>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">W.O. No.</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" id="workOrderNo" class="form-control" placeholder="Número de orden de trabajo" th:field="*{workOrderNo}"/>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Cliente</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" id="cliente" class="form-control" placeholder="Nombre o razón social del cliente" th:field="*{cliente}"/>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <h3 class="form-section">Archivos/Activos digitales</h3>
                        <div class="row">
                            <div class="col-md-9 ">
                                <div class="form-group">
                                    <!-- START File upload input decorated ( four times )-->
                                    <div class="fileinput fileinput-new" data-provides="fileinput" th:each="i, iStat : ${#numbers.sequence(0, 3)}">
                                        <div class="col-md-12 input-group">
                                            <div class="form-control uneditable-input" data-trigger="fileinput">
                                                <i class="fa fa-file fileinput-exists"></i>&nbsp; <span class="fileinput-filename">
                                                </span>
                                            </div>
                                            <span class="input-group-addon btn default btn-file">
                                                <span class="fileinput-new">
                                                Selecciona un archivo </span>
                                                <span class="fileinput-exists">
                                                Cambiar </span>
                                                <input id="file" type="file" name="file" multiple="multiple"/>
                                            </span>
                                            <a href="#" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">
                                            Quitar </a>
                                        </div>
                                    </div>
                                    <!-- END File upload input decorated -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <p class="text-muted">Tipos de archivo</p>
                                <p><span class="text-muted label label-sm label-warning">Dibujo</span> dwg, png, pdf, tif, tiff</p>
                                <p><span class="text-muted label label-sm label-info">Programa</span> txt, nc</p>
                                <p><span class="text-muted label label-sm label-success">Item</span> doc, docx, xls, xlsx</p>
                            </div>
                            &nbsp;
                        </div>
                        <!--/row-->
                        <h3 class="form-section">Notas</h3>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <textarea id="notas" th:field="*{notas}" class="form-control" rows="6"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="form-actions right">
                        <a class="btn default" href="/piezas">Cancelar</a>
                        <button type="submit" class="btn blue"><i class="fa fa-check"></i>Guardar cambios</button>
                    </div>
                    <!--/row-->
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
    <!-- END content -->
    <th:block layout:fragment="scripts">

        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css"/>
        <link href="/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
        <script src="/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
        <script src="/scripts/form-inputmasks.js"></script>
        <script src="/scripts/form-validation.js"></script>
        <script type="text/javascript" src="/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
        <script type="text/javascript" src="/plugins/jquery-validation/js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/plugins/jquery-validation/js/additional-methods.min.js"></script>
        <script type="text/javascript" src="/plugins/select2/select2.min.js"></script>
        <script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>
        <!-- END PAGE LEVEL PLUGINS-->

        <script>
                jQuery(document).ready(function() {
                    FormValidation.init();
                    FormInputMasks.init();

                    $("#formi").submit(function() {
                        Metronic.startPageLoading(
                                {
                                    message: "Ten paciencia, cargando y convirtiendo..."
                                });
                        return true;
                    });
                });
        </script>
    </th:block>
</body>
</html>
