<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <th:block layout:fragment="titulo">
        Título <small>subtítulo</small>
    </th:block>
    <th:block layout:fragment="breadcrumb">
        <li>
            <a href="/piezas">Catálogo de piezas</a>
        </li>
    </th:block>
    <div layout:fragment="content">
            <div class="alert alert-success alert-dismissable" th:if="${successfulChange}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <strong>Confirmación!</strong> Pieza agregada.
            </div>
            <!-- Begin: life time stats -->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Catálogo de piezas</span>
                        <span class="caption-helper">administración de registros...</span>
                    </div>
                    <div class="actions">
                        <a href="/piezaNueva" class="btn btn-default btn-circle">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-480">
                        Agregar pieza </span>
                        </a>
                        <div class="btn-group">
                            <a class="btn btn-default btn-circle" href="#" data-toggle="dropdown">
                            <i class="fa fa-share"></i>
                            <span class="hidden-480">
                            Herramientas </span>
                            <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="#" id="xlsLink" download="piezas.xls" onClick ="$('#datatable_ajax').tableExport({type:'excel',escape:'false'});">
                                    Exportar a Excel </a>
                                </li>
                                <li>
                                    <a href="#" id="csvLink" download="piezas.csv" onclick="$('#datatable_ajax').tableExport({type:'csv',escape:'false'});">
                                    Exportar a CSV </a>
                                </li>
                                <li>
                                    <a href="#" id="xmlLink" download="piezas.xml" onclick="$('#datatable_ajax').tableExport({type:'xml',escape:'false'});">
                                    Exportar a XML </a>
                                </li>
                                <!--<li class="divider">
                                </li>
                                <li>
                                    <a href="#" id="pdfLink" download="piezas.pdf" onclick="$('#datatable_ajax').tableExport({type:'pdf',escape:'false'});">
                                    Imprimir </a>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-container">
                        <div class="table-actions-wrapper">
                            <span>
                            </span>
                            <select class="table-group-action-input form-control input-inline input-small input-sm">
                                <option value="">Acción grupal...</option>
                                <option value="softdelete">Archivar/Ocultar</option>
                            </select>
                            <button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Aplicar</button>
                        </div>
                        <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="2%">
                                <input type="checkbox" class="group-checkable"/>
                            </th>
                            <th width="5%">
                                 Código
                            </th>
                            <th width="15%">
                                 Descripción
                            </th>
                            <th width="8%">
                                 Tipo
                            </th>
                            <th width="10%">
                                 Descripción SAP
                            </th>
                            <th width="10%">
                                 No. W.O.
                            </th>
                            <th width="9%">
                                 Fecha W.O.
                            </th>
                            <th width="10%">
                                 Cliente
                            </th>
                            <th width="13%">
                                 Acciones
                            </th>
                        </tr>
                        <tr role="row" class="filter">
                            <td>
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="codigo_filter"/>
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="descripcion_filter"/>
                            </td>
                            <td>
                                <select name="tipo_pieza_filter" class="form-control form-filter input-sm">
                                    <option value="">Elige...</option>
                                    <option value="PE">PE</option>
                                    <option value="PL">PL</option>
                                    <option value="PC">PC</option>
                                    <option value="">Todos</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="nombre_sap_filter"/>
                            </td>
                            <td>
                                <div class="margin-bottom-5">
                                    <input type="text" class="form-control form-filter input-sm" name="order_no_from" placeholder="Desde"/>
                                </div>
                                <input type="text" class="form-control form-filter input-sm" name="order_no_to" placeholder="Hasta"/>
                            </td>
                            <td>
                                <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                                    <input type="text" class="form-control form-filter input-sm" readonly="readonly" name="order_date_from" placeholder="Del"/>
                                    <span class="input-group-btn">
                                    <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                    <input type="text" class="form-control form-filter input-sm" readonly="readonly" name="order_date_to" placeholder="Al"/>
                                    <span class="input-group-btn">
                                    <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="cliente_filter"/>
                            </td>
                            <td>
                                <div class="margin-bottom-5">
                                    <button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                                <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End: life time stats -->
            <!-- Modal -->
            <div class="modal fade" id="ajax" role="basic" aria-hidden="true">
                <div class="page-loading page-loading-boxed">
                    <img src="img/loading-spinner-grey.gif" alt="" class="loading"/>
                    <span>
                    &nbsp;&nbsp;Cargando... </span>
                </div>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
            <!-- End Modal -->
    </div>
    <!-- Page level scripts -->
    <th:block layout:fragment="scripts">
    <!-- Page level CSS -->
    <link href="/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css"/>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="plugins/select2/select2.min.js" th:href="@{/plugins/select2/select2.min.js}"></script>
    <script type="text/javascript" src="plugins/datatables/media/js/jquery.dataTables.min.js" th:href="@{/plugins/datatables/media/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" src="plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js" th:href="@{/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js}"></script>
    <script type="text/javascript" src="plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" th:href="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
    <script type="text/javascript" src="/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="scripts/datatable.js" th:href="@{/scripts/datatable.js}"></script>
    <script src="scripts/table-ajax.js" th:href="@{/scripts/table-ajax.js}"></script>
    <script type="text/javascript" src="/plugins/htmltable_export/tableExport.js"></script>
    <script type="text/javascript" src="/plugins/htmltable_export/jquery.base64.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
            jQuery(document).ready(function() {
               TableAjax.init();
            });
    </script>
    </th:block>
    <!-- End page level scripts -->
</body>
</html>