<form id="formi" th:action="@{/usuarioEdicion/__${user.getUsername()}__}" th:object="${user}" class="horizontal-form"  method="POST" enctype="multipart/form-data">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"><i class="icon-users"></i> Usuario</h4>
    </div>
    <!-- Begin content -->
    <!-- BEGIN FORM-->

    <div class="modal-body">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Nombre de usuario</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" id="username" th:field="*{username}" class="form-control" placeholder="Nombre sin espacios de al menos 8 letras" readonly="readonly"/>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Estado</label>
                            <div>
                                <input id="userActivo" th:field="*{enabled}" type="checkbox" class="make-switch" checked="checked" data-on-color="primary" data-off-color="danger" data-on-text="&nbsp;Activo&nbsp;&nbsp;" data-off-text="&nbsp;Inactivo&nbsp;"/>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Nombre completo</label>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                <input type="text" id="fullname" th:field="*{fullname}" class="form-control" placeholder="Nombre completo del usuario" readonly="readonly"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Roles</label>
                            <select id="roles" class="form-control select2-multiple" name="roles" multiple="multiple" disabled="disabled">
                                <option th:each="type : ${roleTypes}" th:value="${type}" th:text="${type}" th:selected="${userRoles.contains(type.toString())}">X</option>
                            </select>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
            <!--/row-->
        </div>
    <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
    </div>
</form>

    <!-- END FORM-->
<!-- END content -->


<script>
        jQuery(document).ready(function() {
            $("#roles").select2();
            $('#userActivo').bootstrapSwitch();
        });
</script>
