<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"  layout:decorator="calidad_layout">
    <head>
        <title>Manual de calidad</title>
    </head>
    <body>
    <div class="row" layout:fragment="calidad_content">
        <div class="fluidMedia" th:if="${id!=null}">
            <iframe name="viewer" id="viewer" th:src="'/plugins/PDFJS/web/viewer.html?file=/calidad/documento/0/'+${id}+'.pdf'" width='566' height='400' style="text-align:center;" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen">
            </iframe>
        </div>
        <div th:if="${id==null}">
            <h2>No se ha registrado el manual de gestión de calidad</h2>
        </div>
    </div>
    <th:block layout:fragment="scripts">
        <link rel="stylesheet" type="text/css" href="/css/fluid-iframe.css"/>
    </th:block>
    </body>
</html>